body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: url(../pictr/backgrmac.jpeg);
  background-size: 100%;
}

.calc-btn {
  background-color: antiquewhite;
  color: black;
  width: 25px;
  height: 45px;
  border: 1px solid green;
  text-align: center;
  cursor: pointer;
  font-size: 48px;
  font-weight: 100;
  padding-top: 3px;
}
.calc-btn:hover{
  background-color: blue;
}
.row { 
  display: table;
  table-layout: fixed;
  width: 200px;
}

.column{
  display: table-cell;
}

#calc-zero {
  width: 52.666667px;
  border-radius: 0 0 0 7px;

}
#calc-clear{
  
  width: 52.666667px;
  border-radius: 0 0 0 7px;

}

#calc-display-val{
  height: 80px; color: orange;
  text-align: right; 
  border-left: 1px solid green;
  border-right: 1px solid green;
  border-top: 1px solid green;
  font-size: 32px;
  background-color: grey;
  
  /* in case if numbers can't be posted  on display   */
  overflow: hidden; 

  white-space: nowrap;
  padding: 12px;
  border-radius: 7px 7 px 0 0;
}
.calc-btn-operator{
  background-color: aqua;
  color: blueviolet;
}

h1{

  text-align: center;
  margin-top: 50px;
  font-family: 'Courier New', Courier, monospace;
  color: green;

}
#calc-equals{
  border-radius: 0 0 7px 0;
}
#calc-parent {
  margin-left: calc(50% - 100px);
}

